:root {
    --color-gray: #7b8ba5;
    --color-darkgray:#324b72;
    --color-white: #fff;
    --color-blue: #2e85ff;
    --color-black: #112950;
    --main-font:"Inter", sans-serif;
    --second-font:"Soleil";
}
@font-face {
    font-family:"Soleil" ;
    src: url(assets/fonts/Soleil.woff2);
}

   body {
        background-image: url("assets/BG.webp");
        background-size: auto;
        background-position: top center;
        background-repeat: repeat-y;
        margin: 0 auto ;
    }





    
