.card {
    /* background-color: var(--color-white); */
    border-radius: 16px;
    max-width: 705px;
    margin:0 auto;
    display: grid;
    row-gap: 113px;
    padding:64px;
}
.card__container{
    flex-direction: row;
    justify-content: space-between;
}
.card__paragraph{
    margin-bottom: 32px;
}
.card__img{}
