.dropdown {
    max-width: 660px;
    margin: 130px auto;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-list__item {
    padding-top: 10px;
}

.dropdown-list__title {
    
    font-size: 15px;
    color: var(--color-black);
}

.dropdown-list__discription {
    color: var(--color-gray);
}

.dropdown-list__discription-list {
    list-style: disc;
    margin-bottom: 20px;
}

.dropdown-list__discription-list-item {
    padding-top: 10px;
    color: var(--color-gray);
}