.dropdown {
    text-align: left;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 128px;
}
.dropdown__list{
    flex-direction: column;
}
.dropdown__item{
    padding: 20px 20px 0;
    /* background-color: var(--color-white);
    border-radius: 16px;
    box-shadow: 0 20px 60px rgb(17 41 80 / 8%), 0 2px 8px rgb(17 41 80 / 8%); */
}
.dropdown__header{}
.sublist{
    padding:0 0 12px 20px;
}
.sublist__item{
    margin-bottom: 8px;
}

