    .feedback {}
    
    .slider{
       margin-left: 54px;
    }
    .slider__item{
        display: flex;
    }

    .container__img {}

    .feedback__img{}

    .container__content{}

    .feedback__logo {}
    
    .paragraph_bottom_gap{
        font-size: 28px;
        margin-bottom: 75px;
        
    }
    .slider__controlls{
        display: flex;   
        justify-content: center;
        margin-top: 25px;
    }

    .slider__button{
        height: 65px;
        width: 65px;
        border-radius: 50%;
        margin-bottom: 130px;
    }
    
    .slider__button_left, .slider__button_right {}

