    .feedback {
        padding-top: 97px;
    }
    .feedback__img{
        width: 128px;
        height: 128px;
        border-radius:50%;
    }
    .feedback__logo {
    margin-bottom: 20px;
    }

