.footer{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 71px;
}
.nav{ 
}

.footer__list {
    flex-direction: column;
}
.footer__item {
    margin-bottom: 16px;
}
.footer__item_top_gap {
    margin-top: 58px;
}

.footer__container{
    justify-content: space-between;
    margin-right: 68px;
}
.certificate{
    display: flex;
    align-content: center;
    vertical-align:middle;
}
.certificate__icon{
    width: 30px;
    height: 30px;
}
.certificate__text{}

.social{}
.social__icon{
    width: 30px;
    height: 30px;
}

.language{}
.copirights_pushed_left{}