.form-section {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    margin: 35px auto;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 30px;
    
}
.form-section__title {
    font-size: 39px;
    color: var(--color-black);
    padding: 0;
    margin: 0;
    align-self: center;
}
.form__title{
    color:var(--color-gray);
    font-size:18px;

}

.form__input {
    width: 410px;
    height: 50px;
}

.form__section {
    width: 410px;
    height: 50px;
}

.form__section-option {}

.form__textarea {
    width: 410px;
    height: 200px;
}

.form__title{}

.form__link{
    text-decoration: none;
    color:var(--color-blue);
}

.form__checkbox { }

.checkbox{}

.form-section__discription {
    font-size: 18px;
    color: var(--color-gray);
    margin-bottom: 31px;
}