.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1000px;
    margin: 0 auto ;
}

.header__logo {
    display: inline-block;
    align-self: center;
    /* полноразмерность ссылки or logo__img display:block; */
}
.logo__img{
    display: block;
}