.info-for-who {
    max-width: 575px;
    margin: 190px auto 36px;
    text-align: center;
}

.info-for-who__title {
    font-size: 40px;
    color: var(--color-black);
    padding: 0;
    margin: 0;
}

.info-for-who__discription {
    color: var(--color-gray);
    font-size: 20px;
    padding-bottom: 18px;
}