    .info {
        text-align: center;
        display: grid;
        row-gap: 155px;
        max-width: 1000px;
        margin: 0 auto;
    } 

    .card {
        /* background-color: var(--color-white); */
        border-radius: 20px;
        max-width: 705px;
        margin:0 auto;
        display: grid;
        row-gap: 75px;
    }
    .card__container{
        /* margin-top:130px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container__img{
        margin-top: 20px;
    }
    .card__img{}

    .container__content{
        margin-left: 60px;
        text-align: left;
    }
    .content__list{
        margin-top: 51px;
    }

  
    .content__list {
        flex-direction: column;
    }
    
  
    