.offer {
    max-width: 1000px;
    margin: 115px auto;
}

.offer__subtitle {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-gray);
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.offer__title {
    padding: 0;
    margin: 0;
    font-size: 5.3rem;
}

.offer__discription {
    font-size: 25px;
    color: var(--color-gray);
    padding-bottom: 10px;
}

.offer__subtitle_second {
    padding-top: 90px;
}

.offer__img {
    padding-top: 40px;
}