.paragraph{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    letter-spacing: -0.15px;
    line-height: 27px;
    color: var(--color-darkgray);
    font-weight: 400;
}
.paragraph_main{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    color:#324b72;
    letter-spacing: -0.15px;
    line-height: 30px;
    max-width: 50ch;
    margin-bottom: 32px;
}
.paragraph_bold{
    font-weight: 700;
    color: var(--color-black);
}