.paragraph{
    font-size: 18px;
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
    letter-spacing: -0.15px;
    line-height: 27px;
    color: var(--color-darkgray);
    font-weight: 400;
}
.paragraph_main{
    font-size: 23px;
    font-family: var(--main-font);
    color:#324b72;
    letter-spacing: -0.15px;
    line-height: 30px;
    max-width: 50ch;
    margin-bottom: 32px;
}
.paragraph_bold{
    font-weight: 700;
    color: var(--color-black);
}
.paragraph_with_gap{
    max-width: 575px;
    margin: 0 auto 36px auto;
}
.paragraph_singl{
    margin-bottom: 32px;
}
.paragraph_double{
    margin-bottom: 48px;
}
.paragraph_dropdown{
    font-size: 14px;
    line-height: 21px;
    padding: 16px 0;
}
.paragraph_bottom_gap{
    font-size: 23px;
    line-height: 34.5px;
    width: 626px;
    margin-bottom: 58px;
}
.paragraph_slider{
    font-weight: 700;
    color: var(--color-black);
    letter-spacing: 0;
    margin-bottom: 3px;
}
.paragraph_small{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}
.paragraph_form{
    font-size: 14px;
    /* letter-spacing: -0.075px; */
    letter-spacing: 0;
    line-height: 21px;
}