.registration {
    text-align: center;
    padding-top: 127px;
}

.form{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    margin: 0 auto;
    text-align: left;
}
.form__label {
    margin-bottom: 7px;
    display: block;
}

.form__controll{
    align-self: center;
    margin-bottom: 22px;
}
.form__controll_flex {
    display: flex;
}

.form__field{
    width: 388px;
    padding: 12px 16px;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #d6dbe4;
    border-radius: 4px;
    resize: vertical;
}
.form-section__field {
    width: 420px;
    padding-bottom: 16px;
}
.form__field_textarea {
    height: 168px;
}
.form__checkbox{
    width: 24px;
    height: 24px;
}

.form__option {}


.form__link{
    text-decoration: none;
    color:var(--color-blue);
}
