.subtitle {
    font-family: var(--main-font);
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: -0.15px;
    margin-bottom: 27px;
}
.subtitle_footer{
    margin-bottom: 20px;
}