.title{
    color: var(--color-black);
    margin: 0;
    padding: 0;
    font-family: "Soleil";
}

.title_main{
    font-size: 53px;
    letter-spacing: -0.796px;
    max-width: 29ch;
    line-height: 60px;
    margin-bottom: 24px;
}
.title_regular{
    font-size: 37px;
    letter-spacing:-0.617px;
    line-height: 44.4px;
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 64px;
}
.title_with_gap{
    margin-bottom: ;
}
.title_small{
    font-size: 23px;
    letter-spacing: -0.308px;
    line-height: 27.6px;
    margin-bottom: 16px;
}
.title_bold{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.218px;
}